@import "./vars.scss";
@import '~bootstrap/scss/bootstrap';

body{
  color: black;
}

.container{
  width: 80%;
  margin: 0 auto;
}

.line{
  width: 100%;
  height: 2px;
  background-color: #EDEDED;
}

.active{
  color: $main-color;
}

.disactive{ 
  color: $title-color;
}

